.dashboard {
    width: 100%;
    height: auto;
    border: solid;
    border-radius: 15px;
    background-color: #1b304a;
}

.centrage{
    padding: 20px;
}

.entete{
    position: relative;
    height: 30%;
    z-index: 1000;
    width: 100%;
}

.image{
    display: flex;
}

.logo{
    position:absolute; 
    width: 22%; 
    height: 80%; 
    top: 12%; 
    left: 38.9%; 
    z-index:2
}

.fond1{
    position:relative; 
    top:0;
    width:50%; 
    z-index:1;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
}

.fond2{
    position:relative; 
    top:0;
    width:50%; 
    z-index:1; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
}

.App {
    position:absolute;
    width: 19%;
    left: 40.5%;
    top: 20px;
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    z-index:2
}

img {
    width: 575px;
    height: 250.80051px;
}

.dash{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
}

.dash2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
}

.widget1{
    display: flex;
    flex-wrap: wrap;
    width: 73.5%;
    height: 100%;
    margin:5px;   
}

.widget2{
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    height: 100%;
    margin:7px;  
}

.widget3{
    display: flex;
    flex-wrap: wrap;
    width: 23.5%;
    height: 100%;
    margin:20px;
}

.widget4{
    display: flex;
    flex-wrap: wrap;
    width: 23.5%;
    height: 100%;
    margin:8px;
}

.widget5{
    display: flex;
    flex-wrap: wrap;
    width: 23.5%;
    height: 100%;
    margin:5px;
}

.widget6{
    display: flex;
    flex-wrap: wrap;
    width: 23.5%;
    height: 100%;
    margin:2px;
}



