.vainqueurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7%;
}
  
.refreshVainqueurs {
    padding: 3px 3px;
    margin: 5px;
    font-size: 20px;
    border-color: #1b304a;
    width: 20px;
    height: 25px;
    background-color: #1b304a;
    border: none;
}

.refreshVainqueurs:hover{
    cursor: pointer;
}

.champion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin: 10px;
    padding: 20px;
    color: black;
    height: 150px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
}

.bleu{
    color:cornflowerblue;
    padding-right: 60%;
    padding-top: 5%;
}

.coral{
    position: relative;
    padding-left: 60%;
    color:coral;
    bottom: 40%;
}

.titre{
    width: 200px;
    padding-left: 30%;
}

.infoLineClassement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.infoLabelClassement {
    font-weight: 700;
}

.infoClassement {
    text-align: center;
}

.infosClassement {
    width: 100%;
    margin-bottom: 5px;
}