.vainqueurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7%;
}
  
.refreshVainqueurs {
    padding: 3px 3px;
    margin: 5px;
    font-size: 20px;
    border-color: #1b304a;
    width: 20px;
    height: 25px;
    background-color: #1b304a;
    border: none;
}

.champion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin: 10px;
    padding: 20px;
    color: black;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}