.Infosportif {
    position: absolute;
    left: 75%;
    top: 69%;
    color: rgb(173, 157, 157);
  }

  .Infosportif2 {
    position: absolute;
    font-size: x-large;
    left: 10%;
    top: 69%;
    color: rgb(173, 157, 157);
  }