.sportif {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #FFDAC1;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
}

.infoLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.infoLabel {
    margin-right: 5px;
    font-weight: 700;
}

.infos {
    width: 100%;
    margin-bottom: 5px;
}

.info {
    text-align: right;
}

img {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}