.sportif {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin: 10px;
    padding: 20px;
    color: black;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.sportifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

.refresh {
    padding: 3px 3px;
    margin: 5px;
    font-size: 20px;
    border-color: #1b304a;
    width: 20px;
    height: 25px;
    background-color: #1b304a;
    border: none;
}

.refresh:hover{
    cursor: pointer;
}

.infoLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.infoLabel {
    margin-right: 5px;
    font-weight: 700;
}

.info {
    text-align: right;
}

.infos {
    width: 100%;
    margin-bottom: 5px;
}

img {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.id{
    border-radius: 8px;
    font-style: italic;
}

.id2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    font-style: italic;
    width: 200px;
    height: 30px;
}
  
.test {
    display: flex;
    width: 200px;
    height: 30px;
}
  